/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 2, 2018, 6:28:07 PM
    Author     : counterpoint
*/



.container {
    width: 1000px;
    margin: 0 auto;
}

table{
    margin:0 auto;
}


td:first-of-type,
th:first-of-type{
    border-left: 1px solid black;
}

tr:only-of-type{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

tr:last-of-type{
    border-bottom:1px solid black;
}


td, th{
    padding:0 0.5rem;
    width:20%;
    border-right:1px solid black;
}

